.intro{
  
    
    .top{
        background-color: #dbdbdb;
        h2{
            text-transform: uppercase;
            font-size: 100px;
            padding: 90px 0 90px 0;
            width: 66%;
            margin: 0;
        }
    }
    .bottom{
        background-color: #20252d;
        padding: 50px 0 50px 0;
        p{
            text-align: justify;
            font-size: 20px;
            color: white;
        }
    }
}