.room {
  background-color: #dbdbdb;
  padding-bottom: 50px;
  h2 {
    font-size: 100px;
    text-transform: uppercase;
    padding: 50px 0 50px 0;
  }
  .slider {
    text-align: center;
    position: relative;
    z-index: 1;

    .detail {
      position: absolute;
      top: 220px;
      right: 140px;
      z-index: 2;
      color: white;
      .name {
        text-transform: uppercase;
      }
      .price {
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        transition: all 0.3s;
        &:hover {
          color: aqua;
          i {
            transition: all 0.3s;
            transform: translateX(10px);
          }
          &:not(:hover) {
            i {
              transition: all 0.3s;
            }
          }
        }
      }
    }
    .swiper {
      background-color: rgb(43, 40, 40);

      .swiper-slide {
        overflow: hidden;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 65% 100%);
        width: 333px !important;
        transition: all 0.3s;
        opacity: 0.3;
        .title {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 999;
        }
        &.swiper-slide-active {
          opacity: 1;
          width: 710px !important;
          clip-path: polygon(0 0, 70% 0%, 100% 100%, 0 100%);
          margin-right: -213px !important;
        }
        &.swiper-slide-next {
          width: 500px !important;
          clip-path: polygon(0% 0%, 57% 0%, 100% 100%, 43% 100%);
          margin-right: -215px !important;
        }

        img {
          // width: 300px;
          width: 100%;
          height: 500px;
          object-fit: cover;
          user-select: none;
          color: #fff;
        }
      }
      .swiper-button-prev {
        position: absolute;
        top: 100px;
        right: 200px;
        left: auto;

        // border: 1px solid white;
        width: 70px;
        height: 70px;
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        background-color: #fff3;
        transition: all 0.3s;
        &::after {
          transform: rotate(180deg);
          font-size: 20px;
          color: white;
        }
        &:hover {
          background-color: #ffffff7a;
        }
      }
      .swiper-button-next {
        position: absolute;
        top: 100px;
        right: 300px;

        width: 70px;
        height: 70px;
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        background-color: #fff3;
        transition: all 0.3s;
        &:hover {
          background-color: #ffffff7a;
        }
        &::after {
          transform: rotate(180deg);
          font-size: 20px;
          color: white;
        }
      }
    }
  }
}
